.title{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    margin-top: 125px;
    padding-left: 20px;
    padding-right: 20px;
}
.question{
    color:lightslategrey;
    cursor: pointer;
}
.note{
    color: rgba(247,58,16,0.84);
    background-color: #e6521736;
    margin-bottom: 140px;
}
.cart{
    background-color: rgb(10, 106, 216);
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom:70px;
    margin-left: -20px;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
}
.Textlength{
    display: flex;
    justify-content: end;
}
.burgerBtn{
    display: flex;
    justify-content: end;
    width: 90%;
    position: fixed !important;
    bottom: 146px;
}